/* Write your code here. */
.winLoss-container {
  margin: auto;
  padding: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff30;
  border-radius: 10px;
  background: #ffffff33;
}
.winLoss-text {
  width: 400px;
}
.winLoss-text * {
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  color: white;
}
.score-details {
  color: #6a59ff;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
}
.score-text {
  font-size: 30px;
  font-weight: bold;
}
.winLoss-img img {
  height: 80%;
}
.play-again-btn {
  background-color: #ffce27;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  color: #3d3d3d;
}
